:root {
  font-size: 20px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../src/img/Tetris-bg.png);
}

@font-face {
  font-family: "Wallpoet", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
}

.background {
  background-image: url(../src/img/Tetris-bg.png);
}
